extends ../layout

block content
  .section
    .container
      .content
        h1= copy[page.key]
        p= copy['about-content-1']
        p= copy['about-content-2']
        p= copy['about-content-3']
