extends ../layout
include ../components/hero
include ../components/pdf

block hero
  +hero("/images/pages/format/95180884_s.jpg", copy['what-we-can-handle'])

block content
  h2= copy['from-audio-to-script']
  p= copy['format-content-1']
  include ../cta/order
  figure.is-marginless
    img.image(src="/images/pages/format/40882394_s.jpg")
  h2= copy['the-written-word']
  p= copy['format-content-2']
  +pdf("/documents/Sample Transcript .pdf", copy['standard-timecoded-transcript'])
  +pdf("/documents/template_As Broadcast.pdf", copy['as-broadcast-transcript'])
  +pdf("/documents/template_audio.pdf", copy['standard-audio-transcript'])
