extends ../layout
include ../components/hero

block content
  h1.has-text-centered.boulibar-h1= copy['lets-get-started']
  p.has-text-centered= copy['order-content-1']
    a.is-foam-blue(href="mailto:info@movingonproductions.com") info@movingonproductions.com
  include ../cta/upload
  #root
  script(src= appPath)
