extends ../layout

block content
  .section
    .container
      .content
        h1= copy['lets-get-started']
  .section
    .container
      .content
        p.has-text-centered= copy['order-content-1']
          a.is-foam-blue(href="mailto:operations@movingonproductions.com") operations@movingonproductions.com
  include ../cta/upload
  .section
    .container
      .content
        #root
        script(src= appPath)
