extends ../layout

block content
  .section
    .container
      .content
        h1= copy[page.key]
  include ../cta/upload
  .section
    .container
      .content
        p= copy['order-content-1']
  .section
    .container
      .content
        #root
        script(src= appPath)
