extends ../layout

block content
  h1= copy['lets-get-started']
  p.has-text-centered= copy['order-content-1']
    a.is-foam-blue(href="mailto:operations@movingonproductions.com") operations@movingonproductions.com
  include ../cta/upload
  #root
  script(src= appPath)
