extends ../layout

block content
  .section
    .container
      .content
        h1= copy[page.key]
  .section
    .container
      .content [TODO: content]
  .section
    .container
      .content
        #paypal-button-container
        script(src="javascripts/paypal.js")
