extends layout

block content
  if page.sections.includes('quote')
    include quote
  if page.sections.includes('upload')
    include upload
  .section
    .container
      .content
        h1.is-uppercase.title= copy[page.key]
        p= copy['lorem-ipsum']
        blockquote= page.info
  .section
    .container
      .content
        script.
          window.__MODEL__ = !{JSON.stringify(locals)};
        #root
        script(src="javascripts/main." + appBuildId + ".js")
        // script(src="http://localhost:3000/static/js/bundle.js")
