extends layout

block content
  if page.sections.includes('quote')
    include quote
  if page.sections.includes('upload')
    include upload
  .section
    .container
      .content
        h1.is-serif.title= copy[page.key]
        figure(className="image")
          img(src="images/hero@2x.png")
        p= copy['lorem-ipsum']
        blockquote.has-text-black= page.info
  .section
    .container
      .content
        script.
          window.__MODEL__ = !{JSON.stringify(locals)};
        case page.key
          when 'contact'
          when 'quote'
            #root
            script(src="javascripts/main.js")
            // script(src="http://localhost:3000/static/js/bundle.js")
          when 'payment'
            include paypal