extends layout

block content
  section.hero.is-dark
    .hero-head
      figure.image.is-1by1
        img(alt="TODO" height="" src="http://placeholder.pics/svg/320x320/eee/363636" width="")
    .hero-body
      .container
        h1.title= name
        h2.subtitle= copy['lorem-ipsum']
    .hero-foot
      hr.has-background-grey-light
