<!DOCTYPE html>
html(lang="en")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=" + trackingId)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '#{trackingId}');
    script.
      window.__MODEL__ = !{JSON.stringify(locals)};
    if page.key === 'payment' 
      script(src="https://www.paypalobjects.com/api/checkout.js")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= `${copy['moving-on-productions']}`
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(rel='stylesheet', href=`${stylesheet}/styles.css`)
  body.has-navbar-fixed-top
    include components/navbar
    block hero
    .section
      .container
        .content.boulibar-content
          block content
    footer
      include components/footer
    script(src="javascripts/index.js")
