nav(aria-label="main navigation" class="navbar is-dark" role="navigation")
  .navbar-brand
    a.navbar-item(href="/")
      // http://placeholder.pics/
      img(alt="TODO" height="" src="http://placeholder.pics/svg/28x28/eee/363636" width="")
      span= `${name}`
    a.navbar-burger(aria-label="menu" aria-expanded="false" role="button")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
