@import url('https://fonts.googleapis.com/css?family=Merriweather');

$family-serif: 'Merriweather', serif;
$family-primary: $family-serif;
$white-ter: #eedd82;

@import '../../../node_modules/bulma/bulma.sass';
