@import 'colors';

@media only screen and (min-width: 1024px) {
  body {
    margin: 0 16px;
  }

  footer {
    margin: auto;
    max-width: 1224px;

    ul {
      display: flex;

      &.other-pages {
        flex-direction: row;
      }
    }

    .logo {
      height: 46px;
      width: 162px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1224px;

    ul {
      display: flex;
      align-items: center;
      flex-direction: row;

      li {
        margin-left: $spacing-medium;

        a {
          font-size: 17px;
          font-weight: 900;
        }
      }
    }

    .logo {
      height: 92px;
      width: 324px;
    }
  }

  section {
    margin: auto;
    max-width: 1224px;

    ul {
      &.client-logos {
        margin: 0 0 32px 392px;
        max-width: 600px;
      }
    }

    .hero {
      a {
        margin: auto;
        position: absolute;
        top: 400px;
      }

      h1 {
        margin: auto;
        position: absolute;
        top: 280px;
      }
    }
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
