@import 'colors';

@media only screen and (min-width: 1024px) {
  footer {
    margin: auto;
    max-width: 1224px;

    ul {
      &.other-pages {
        flex-direction: row;
      }
    }

    .logo {
      height: 46px;
      width: 162px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1224px;

    ul {
      align-items: center;

      li {
        margin-left: $spacing-medium;

        a {
          font-size: 17px;
          font-weight: 900;
        }
      }
    }

    .logo {
      height: 92px;
      width: 324px;
    }
  }

  section {
    margin: auto;
    max-width: 1224px;

    .hero {
      a {
        font-size: 22px;
        font-weight: bold;
        height: 60px;
        position: absolute;
        top: 500px;
        width: 180px;
      }

      h1 {
        font-size: 60px;
        font-weight: 900;
        position: absolute;
        top: 300px;
      }
    }
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
