@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

@import 'colors';
@import 'spacing';

a {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

body {
  background-color: $charcoal-grey;
  font-family: 'Source Sans Pro', sans-serif;
}

figure {
  margin: 0;
}

footer {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    img {
      margin: $spacing-medium;
    }
  }

  ul {
    margin: $spacing-x-large auto auto auto;
    padding: 0;

    li {
      margin: $spacing-medium;

      a {
        color: $charcoal-grey;
        font-size: 15px;
        font-weight: 900;
      }

      &.social {
        border: 1px solid $dark-taupe;
        border-radius: 48px;
        box-shadow: 0 10px 18px 0 rgba(188, 179, 142, 0.4);
        display: flex;
        flex-direction: column;
        height: 48px;
        justify-content: center;
        width: 48px;

        i {
          color: $dark-taupe;
        }
      }
    }
  }
}

nav {
  ul {
    li {
      a {
        color: $light-grey;
      }
    }
  }
}

section {
  article {
    &.translations-captioning-and-copy-editing {
      background-image: url('/images/pages/home/fancycrave-440148-unsplash.jpg');
      background-repeat: no-repeat;
      background-size: 450px 300px;
      padding: 0 0 50px 450px;

      a {
        margin: 50px 100px 0 -300px;
      }

      h2,
      p {
        max-width: 300px;
      }
    }

    &.turnaround-time {
      background-image: url('/images/pages/home/brooke-campbell-44085-unsplash.jpg');
      background-repeat: no-repeat;
      background-size: 810px 540px;
      padding: 250px 300px 60px 300px;

      a {
        margin: 50px 100px 0 100px;
      }

      h2,
      p {
        max-width: 570px;
      }
    }

    &.translations-captioning-and-copy-editing,
    &.turnaround-time {
      a {
        align-items: center;
        border: 1px solid $putty;
        box-shadow: 0 10px 25px 0 rgba(116, 179, 206, 0.2);
        color: $seafoam-blue;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 180px;
      }

      h2 {
        background-color: $charcoal-grey;
        color: $light-grey;
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        padding: 50px 100px 0;
      }

      p {
        background-color: $charcoal-grey;
        margin: 0;
        padding: 50px 100px 0;
      }
    }
  }

  p {
    &.there-are-some {
      color: $putty;
      font-family: 'Playfair Display', serif;
      font-size: 24px;
      height: 111px;
      line-height: 1.5;
      margin: auto;
      margin-bottom: 26px;
      max-width: 490px;
      padding-bottom: 26px;
      text-align: center;

      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 300px;
        padding-top: 26px;
        border-bottom: 3px solid $seafoam-blue;
      }
    }

    &.in-addition-to,
    &.we-can-use,
    &.we-understand-that {
      color: white;
      line-height: 1.5;
      max-width: 570px;
    }
  }

  ul {
    &.client-logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        background-color: rgb(23, 30, 37);
        display: flex;
        height: 120px;
        margin: 8px;
        width: 120px;

        img {
          margin: auto;
          max-height: 60px;
          max-width: 60px;
        }
      }
    }
  }

  .hero {
    a {
      align-items: center;
      background-color: rgba(188, 179, 142, 0.7);
      border: 1px solid $light-grey;
      box-shadow: 0 10px 25px 0 rgba(116, 179, 206, 0.2);
      color: $charcoal-grey;
      display: flex;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 22px;
      font-weight: bold;
      height: 60px;
      justify-content: center;
      left: 0;
      letter-spacing: 2px;
      right: 0;
      text-transform: uppercase;
      width: 180px;
    }

    h1 {
      color: white;
      font-family: 'Playfair Display', serif;
      font-size: 35px;
      font-weight: 900;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

span.burger,
span.times {
  display: none;
}

@import 'mobile';
@import 'tablet';
@import 'desktop';
