// /Users/mrichetto/projects/boulibar/node_modules/bulma/sass/utilities/initial-variables.sass

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

$family-serif: 'Playfair Display', serif;
$family-sans-serif: 'Source Sans Pro', sans-serif;

// colors
$cement: #9b9994;
$charcoalGrey: #2d343a;
$darkTaupe: #726442;
$lightGrey: #f2efe6;
$ocean: #00818a;
$putty: #bcb38e;
$seafoamBlue: #74b3ce;
// bulma colors
$grey-dark: #fff; // text
$grey-darker: #f2efe6; // headings, buttons
$white: #2d343a; // background
// variables
// $body-size: 1.125rem;

@import '../../node_modules/bulma/bulma.sass';

a {
  color: $seafoamBlue !important;

  &.navbar-item {
    font-weight: bold;
    text-align: center;

    &.is-active {
      background-color: $charcoalGrey;
      color: $putty !important;
    }

    &:hover {
      background-color: $charcoalGrey;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $family-serif;
}

h1,
h2,
h3 {
  color: $putty !important;
}

h1 {
  font-weight: 900;
}

figure.is-2by3 {
  img {
    border: 1px solid $cement;
  }
}

footer {
  font-family: $family-serif;
  @include until($desktop) {
    margin: 3rem 1rem 0 1rem;
  }
  @include from($desktop) {
    margin: 1rem 1rem 0 1rem;
  }

  a {
    color: $charcoalGrey !important;
    font-weight: 900 !important;
  }

  i {
    color: $darkTaupe;
  }

  li {
    border: 1px solid $darkTaupe;
    border-radius: 50%;
    box-shadow: 0 10px 18px 0 rgba(188, 179, 142, 0.4);
    padding: 0.45rem;
  }

  .section {
    padding: 0;

    .container {
      background-color: $lightGrey;
    }
  }

  .social {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 0 0;
  }
}

hr {
  background-color: $seafoamBlue;
  @include until($desktop) {
    margin: 1.5rem 4rem;
  }
  @include from($desktop) {
    margin: 1.5rem 10rem;
  }
}

.button {
  border-radius: 0;
  font-family: $family-serif;
}

.card {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.client-logo {
  background-color: rgb(23, 30, 37);
  height: 120px;
  object-fit: contain;
  padding: 1.5rem;
  width: 120px;
}

.is-charcoal-grey {
  color: $charcoalGrey;
}

.is-putty {
  color: $putty;
}

.is-seafoam-blue {
  color: $seafoamBlue;
}

.is-serif {
  font-family: $family-serif;
}

.navbar-item {
  img {
    max-height: none;
  }
}

.boulibar-hero-home-mobile,
.boulibar-hero-home-tablet,
.boulibar-hero-home-desktop {
  h1 {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
  }
  a.button.is-large {
    height: 54px;
    left: 50%;
    position: absolute;
  }
}

.boulibar-hero-home-mobile {
  a.button.is-large {
    margin-left: -75px;
    top: 65%;
    width: 150px;
  }
  h1 {
    font-size: 1.75rem;
    top: 30%;
  }
}

.boulibar-hero-home-tablet {
  a.button.is-large {
    margin-left: -90px;
    top: 70%;
    width: 180px;
  }
  h1 {
    font-size: 2.6rem;
    top: 40%;
  }
}

.boulibar-hero-home-desktop {
  a.button.is-large {
    font-size: 2rem;
    margin-left: -90px;
    top: 62%;
    width: 180px;
  }
  h1 {
    font-size: 2.6rem;
    top: 30%;
  }
}

.boulibar-hero-home-button {
  background-color: rgba(188, 179, 142, 0.7);
  border-color: #2d343a;
  color: #2d343a !important;
  font-weight: bold;
  height: 60px !important;
}

.boulibar-hero-mobile,
.boulibar-hero-tablet {
}

.boulibar-hero-desktop {
  display: flex;
  flex-direction: column-reverse;
  height: 492px;

  h1 {
    background-color: $charcoalGrey;
    color: $putty;
    font-size: 2.6rem;
    font-weight: bold;
    margin: auto auto 0 auto;
    padding: 1rem 0 0 50px;
    width: 700px;
  }
}

.boulibar-content {
  margin: auto;
  max-width: 600px !important;
}

.boulibar-h1 {
  @include until($desktop) {
    margin-top: 1rem !important;
  }
  @include from($desktop) {
    font-size: 2.6rem !important;
    font-weight: bold !important;
  }
}

.boulibar-is-white {
  color: white !important;
}

.boulibar-p {
  @include from($desktop) {
    font-size: 1.25rem;
  }
}

.has-margin-auto {
  margin: auto;
}

.section {
  @include until($desktop) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.Hero__Title {
  @include from($desktop) {
    font-size: 3rem !important;
    margin-top: 12rem !important;
  }
}

.NavBar__List {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6rem;
}

.NavBar__PhoneNumber {
  color: $seafoamBlue;
  font-size: 1.25rem;
}

.NavBar__Quote {
  @include from($desktop) {
    background-color: $putty !important;
    color: $charcoalGrey !important;
  }
}

.NavBar__Quote:hover {
  @include from($desktop) {
    border-color: #b5b5b5;
  }
}
