// /Users/mrichetto/projects/boulibar/node_modules/bulma/sass/utilities/initial-variables.sass

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

$family-serif: 'Playfair Display', serif;
$family-sans-serif: 'Source Sans Pro', sans-serif;

// colors
$charcoalGrey: #2d343a;
$lightGrey: #f2efe6;
$putty: #bcb38e;
$seafoamBlue: #74b3ce;
// bulma colors
$grey-dark: #fff; // text
$grey-darker: #f2efe6; // headings, buttons
$white: #2d343a; // background

h1,
h2 {
  font-family: $family-serif;
}

footer {
  background-color: $lightGrey;
  margin: 1rem 1rem 0 1rem;
}

.button {
  border-radius: 0px !important;

  &.is-seafoam-blue {
    color: $seafoamBlue;
  }
}

.is-putty {
  color: $putty;
}

.is-charcoal-grey {
  color: $charcoalGrey;
}

.is-serif {
  font-family: $family-serif;
}

.navbar-item {
  img {
    max-height: none !important;
  }
}

@import '../../node_modules/bulma/bulma.sass';
