- var data = [];
- data.push('01-bloomberg-television');
- data.push('02-columbia-university');
- data.push('03-conde-nast');
- data.push('04-food-network');
- data.push('05-lucky-8');
- data.push('06-maxim-integrated');
- data.push('07-mtv');
- data.push('08-munn-rabot');
- data.push('09-national-geographic-channel');
- data.push('10-refinery-29');
- data.push('11-viacom');
- data.push('12-national-geographic');
- data.push('13-rock-shrimp-productions');
- data.push('14-rice');
- data.push('15-statistics-solutions');
- data.push('16-zero-point-zero');
- data.push('17-the-playlist');

ul.client-logos
  each key in data
    li
      img(src=`/images/client-logos/${key}/logo-copy@3x.png`)
