- var data = [];
- data.push('01-bloomberg-television');
- data.push('02-columbia-university');
- data.push('03-conde-nast');
- data.push('04-food-network');
- data.push('05-lucky-8');
- data.push('06-maxim-integrated');
- data.push('07-mtv');
- data.push('08-munn-rabot');
- data.push('09-national-geographic-channel');
- data.push('10-refinery-29');
- data.push('11-viacom');
- data.push('12-national-geographic');
- data.push('13-rock-shrimp-productions');
- data.push('14-rice');
- data.push('15-statistics-solutions');
- data.push('16-zero-point-zero');
- data.push('17-the-playlist');
- data.push(null);
- data.push(null);
- data.push(null);

mixin columns(keys)
  .columns
    each key in keys
      +column(key)

mixin column(key)
  .column.has-text-centered
    if(key !== null)
      img.client-logo(src=`/images/client-logos/${key}/logo-copy@3x.png`)

.section
  .container.is-hidden-tablet
    each index in [0, 2, 4, 6, 8, 10, 12, 14, 16]
      .columns.is-mobile
        +column(data[index])
        +column(data[index + 1])
  .container.is-hidden-mobile
    each index in [0, 4, 8, 12, 16]
      .columns
        +column(data[index])
        +column(data[index + 1])
        +column(data[index + 2])
        +column(data[index + 3])
