mixin figure(mobile, tablet, desktop)
  figure.is-hidden-tablet
    img(alt="figure" src= mobile)
  figure.is-hidden-desktop.is-hidden-mobile
    img(alt="figure" src= tablet)
  figure.is-hidden-touch
    img(alt="figure" src= desktop)
