.section
  .container
    .columns.has-text-centered
      .column
        img(height="46" src="images/logo-light.svg" width="162")
    .columns
      each key in ['quote', 'order', 'payment', 'contact']
        .column.has-text-centered
          a.has-text-weight-bold(href=`/${key}`)= copy[key]
    .columns
      .column.has-text-centered
        ul.social
          li
            a(href="https://www.linkedin.com/company/moving-on-productions-llc" target="_blank")
              span.icon.is-medium
                i.fab.fa-linkedin-in
          li
            a(href="https://twitter.com/MOTranscription" target="_blank")
              span.icon.is-medium
                i.fab.fa-twitter
          li
            a(href="https://www.facebook.com/movingontranscription" target="_blank")
              span.icon.is-medium
                i.fab.fa-facebook-f
