a.navbar-item(href="/")
  img.is-hidden-tablet(alt="logo dark" height="46" src="images/logo-dark.svg" width="162")
  img.is-hidden-desktop.is-hidden-mobile(alt="logo dark" height="69" src="images/logo-dark.svg" width="243")
  img.is-hidden-touch(alt="logo dark" height="92" src="images/logo-dark.svg" width="324")
