

.navbar.is-fixed-top
  .navbar-brand
    include logo
    .burger.navbar-burger(data-target="navbar-menu")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
  #navbar-menu.navbar-menu
    .navbar-start
      each key in ['about', 'format', 'services', 'contact']
        a.navbar-item.is-seafoam-blue.is-serif(href=`/${key}` class=`${page.path === key ? 'is-active' : ''}`)= copy[key]
