.navbar.is-fixed-top
  .navbar-brand
    a.navbar-item(href="/")
      img(height="46" src="images/logo-dark.svg" width="162")
    .burger.navbar-burger(data-target="navbar-menu")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
  #navbar-menu.navbar-menu
    .navbar-start
      each key in ['about', 'format', 'services']
        a.navbar-item(href=`/${key}` class=`${page.path === key ? 'is-active' : ''}`)= copy[key]
