mixin pdf(link, label)
  .card
    .card-content
      .media
        .media-left
          span.icon.is-large
            i.fas.fa-file-pdf.fa-3x
        .media-content
          p.title.is-4
            a.is-serif(href= link target="_blank")= label